* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

body {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    color: white;
}



/* STILE ASIDE  */

aside {
    background-color: rgb(0, 0, 0);
    color: lightgrey;
    width: 15%;
    height: 90vh;
    /* font-size: 1vw; */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: fixed;
}
#bottom-aside {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}
#logo {
    padding: 5%;
    max-width: 80%;
    max-height: 80%;
}
.list-aside, .list-aside-last {
    padding: 4% 8%;
}
.list-aside:hover {
    border-left: solid greenyellow 3px;
    color: white;
}
.list-aside-last ul li:hover {
    color: white;
}
aside .list-aside-last ul li {
    padding-bottom: 5%;
    list-style-type: none;
}
.list-aside-last ul li:first-child, #John-Doe{
    color: white;
}
hr {
    width: 85%;
    margin: auto;
}

/* STILE HEADER */
header {
    width: 85%;
    background-color: rgb(51, 47, 47);
    color: white;
    display: flex;
    justify-content: flex-end;
    padding: 1% 1%;
    position: fixed;
    top: 0;
    right: 0;
    z-index: 500;
}
#header-btn {
    border: 1px solid white;
    width: fit-content;
    padding: 0.7% 2%;
    border-radius: 20px;
}
#header-btn:hover {
    transform: scale(1.1);
}


/* STILE MAIN  */
main {
    display: flex;
    justify-content: flex-start;
}
 #main-section {
     background-color: rgb(24, 24, 51);
     width: 85%;
     color: white;
     position: absolute;
     right: 0;
 }
 nav {
     margin-top: 5%;
 }
 #main-section nav ul {
     color: lightslategrey;
     display: flex;
     flex-direction: row;
     justify-content: center;
 }
 nav ul li {
    list-style-type: none;
    margin: 1% 1%;
 }
 nav ul li:hover {
     color: white;
 }
 nav ul li hr {
     background-color: rgb(156, 247, 19);
     width: 50px;
     height: 4px;
 }

 /* Stile Prima sezione  */
 .sezioni {
     display: flex;
     flex-direction: row;
     justify-content: flex-start;
 }
 h2 {
     margin: 1%;
 }
 .sottotit-h2 {
     margin: 1%;
 }
 .sezioni img {
    max-width: 100%;
    max-height: 100%; 
 }
 #artisti-pop {
     margin-bottom: 10%;
 }
 #artisti-pop img {
     border-radius: 50%;
 }
 .recent {
     width: 15.5%;
     text-align: center;
     margin-left: 1%;
     margin-top: 1%;
 }
 .subtitle {
     color: lightslategray;
 }
.sezioni div div {
    position: relative;
}
.sezioni i {
    position:absolute;
    top: 118px;
    left: 118px;
    z-index: 100;
    transform: scale(4);
    display: none;
}
.sezioni div:hover i{
    display: block;
}
 .sezioni img:hover {
     opacity: 0.3;
 }
 

 /* STILE FOOTER  */
 footer {
     position: fixed;
     bottom: 0;
     left: 0;
     background-color: rgb(51, 47, 47);
     width: 100%;
     height: 100px;
     display: flex;
     flex-direction: row;
     justify-content: space-between;
 }

 /* stile footer sinistra  */
 #sinister {
    max-width: 30%;
    max-height: 30%;
    padding: 2% 5%;
 }
 #foot-sx {
     display: flex;
     flex-direction: row;
     align-items: center;
     width: 15%;
 }
#nome-brano{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
 }
#foot-sx #heart-folder {
    display: flex;
    justify-content: flex-end;
}
 #foot-sx div i {
     margin-right: 10px;
 }
 #nome-brano div p {
     color: grey;
 }
 #nome-brano div p:hover {
     color: white;
     text-decoration: underline;
 }
 #heart-folder {
     color: grey;
 }
 .fa-heart:hover, .fa-folder:hover {
     color: white;
 }


 /* stile footer centrale */
 
 #foot-cx #player {
     padding: 10px;
     display: flex;
     flex-direction: row;
     justify-content: center;
 }
 #foot-cx div i {
     margin: 15px;
 }
 #foot-cx div .fa-circle-play {
     transform: scale(2);   
 }

 #progress {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
 }

 .progress-bar {
    background: rgba(255,255,255,0.1);
    border-radius: 50px;
    height: 4px;
    width: 400px;
  }
  .progress-value {
    border-radius: 100px;
    background: #fff;
    height: 4px;
    width: 100px;
  }
  .progress-value:hover {
      background-color:greenyellow;
  }
  #foot-cx #progress span {
      margin: 0 20px;
  }
  #foot-cx .fa-circle-play:hover {
      transform: scale(2.2);
  }

/* stile footer destra  */

#foot-dx {
    display: flex;
    align-items: center;
}

#foot-dx div i {
    margin: 0 10px;
}

 #lil-progress-bar {
     width: 150px;
     margin-right: 20px;
 }

 #lil-progress-value {
     width: 40px;
     margin-right: 20px;
 }


 /* RSPONSIVE */
 @media screen and (max-width:730px) {
     aside {
         font-size: 2vw;
     }

     #main-section nav ul {
         margin-top: 50px;
     }
     #main-section nav ul li {

         display: flex;
         flex-wrap: wrap;

     }
     .recent {
         display: flex;
         flex-wrap: wrap;
         width: auto;
     }

 }