* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

/* STILE HEADER s */
 header {
     width: 100%;
     background-color: black;
     color: white;
     display: flex;
     justify-content: space-between;
     padding: 1% 1%;
 }
 #logo {
    max-width: 10%;
    max-height: 10%;
    position: absolute;
 }
 #header-btn {
     border: 1px solid white;
     width: fit-content;
     padding: 0.7% 2%;
     border-radius: 20px;
 }

 /* STILE ASIDE  */
 main {
     display: flex;
     justify-content: flex-start;
 }
 aside {
     background-color: rgb(0, 0, 0);
     color: lightgrey;
     width: 15%;
     height: 750px;
     font-size: 1vw;
     display: flex;
     flex-direction: column;
     justify-content: space-between;
 }
 .list-aside {
     padding: 4% 8%;
 }
 aside .list-aside ul li {
     padding-bottom: 5%;
     list-style-type: none;
 }
 .list-aside ul li:first-child, #John-Doe{
    color: white;
 }
 hr {
     width: 85%;
     margin: auto;
 }

/* STILE MAIN  */
 #main-section {
     background-color: rgb(24, 24, 51);
     width: 90%;
     height: 1500px;
     color: white;
 }
 #main-section nav ul {
     color: lightslategrey;
     display: flex;
     flex-direction: row;
     justify-content: center;
 }
 nav ul li {
    list-style-type: none;
    margin: 1% 1%;
 }

 /* Stile Prima sezione  */
 .sezioni {
     display: flex;
     flex-direction: row;
     justify-content: flex-start;
 }
 h2 {
     margin: 1%;
 }
 .sottotit-h2 {
     margin: 1%;
 }
 .sezioni img {
    max-width: 100%;
    max-height: 100%; 
 }
 #artisti-pop img {
     border-radius: 50%;
 }
 .recent {
     width: 15.5%;
     text-align: center;
     margin-left: 1%;
     margin-top: 1%;
 }
 .subtitle {
     color: lightslategray;
 }